/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {

  /*font-family: "Open Sans", sans-serif;*/
  font-family: 'Jost', sans-serif;
  color      : #444444;
}

a {
  color          : #214790;
  text-decoration: none;
}

a:hover {
  color          : #e76668;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  /*font-family: "Raleway", sans-serif;*/
}

p {
  margin-top   : 0;
  margin-bottom: 1rem;
  color        : #6b6b6b;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position     : fixed;
  visibility   : hidden;
  opacity      : 0;
  right        : 15px;
  bottom       : 15px;
  z-index      : 996;
  background   : #214790;
  width        : 40px;
  height       : 40px;
  border-radius: 4px;
  transition   : all 0.4s;
}

.back-to-top i {
  font-size  : 28px;
  color      : #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #e65d5f;
  color     : #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity   : 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width:768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: transparent;
  transition: all 0.5s;
  z-index   : 997;
  padding   : 20px 0;
}

#header.header-scrolled {
  padding   : 30px 0;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  background: #214790;
}

#header .logo {
  font-size  : 30px;
  margin     : 0;
  padding    : 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo a span {
  color: #ffffff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left  : 30px;
  background   : #214790;
  color        : #fff;
  border-radius: 4px;
  padding      : 8px 25px;
  white-space  : nowrap;
  transition   : 0.3s;
  font-size    : 14px;
  font-weight  : 600;
  display      : inline-block;
}

.get-started-btn:hover {
  background: #111111;
  color     : #fff;
}

@media (max-width:992px) {
  .get-started-btn {
    margin : 0 15px 0 0;
    padding: 6px 18px;
  }

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin     : 0;
  padding    : 0;
  display    : flex;
  list-style : none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : 10px 0 10px 30px;
  font-family    : "Raleway", sans-serif;
  font-size      : 17px;
  color          : #fff;
  white-space    : nowrap;
  transition     : 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size  : 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffc107;
}

.navbar .dropdown ul {
  display   : block;
  position  : absolute;
  left      : 30px;
  top       : calc(100% + 30px);
  margin    : 0;
  padding   : 10px 0;
  z-index   : 99;
  opacity   : 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding  : 10px 20px;
  font-size: 14px;
  color    : #000;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #214790;
}

.navbar .dropdown:hover>ul {
  opacity   : 1;
  top       : 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top       : 0;
  left      : calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity   : 1;
  top       : 0;
  left      : 100%;
  visibility: visible;
}

@media (max-width:1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }

}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color      : #fff;
  font-size  : 28px;
  cursor     : pointer;
  display    : none;
  line-height: 0;
  transition : 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width:991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

}

.navbar-mobile {
  position  : fixed;
  overflow  : hidden;
  top       : 0;
  right     : 0;
  left      : 0;
  bottom    : 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index   : 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top     : 15px;
  right   : 15px;
}

.navbar-mobile ul {
  display         : block;
  position        : absolute;
  top             : 55px;
  right           : 15px;
  bottom          : 15px;
  left            : 15px;
  padding         : 10px 0;
  background-color: #fff;
  overflow-y      : auto;
  transition      : 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding  : 10px 20px;
  font-size: 15px;
  color    : #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #214790;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position  : static;
  display   : none;
  margin    : 10px 20px;
  padding   : 10px 0;
  z-index   : 99;
  opacity   : 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #214790;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width          : 100%;
  height         : 100vh;
  background     : url("../img/stadium-bg.jpg") top center no-repeat;
  background-size: cover;
  position       : relative;
  padding-top    : 82px;
}

#hero:before {
  content   : "";
  background: rgba(0, 0, 0, 0.6);
  position  : absolute;
  bottom    : 0;
  top       : 0;
  left      : 0;
  right     : 0;
}

#hero h1 {
  margin     : 0;
  font-size  : 48px;
  font-weight: 700;
  color      : #fff;
}

#hero h2 {
  color    : #fff;
  margin   : 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family   : "Raleway", sans-serif;
  font-weight   : 500;
  font-size     : 16px;
  letter-spacing: 1px;
  display       : inline-block;
  padding       : 10px 30px;
  border-radius : 4px;
  transition    : 0.5s;
  margin-top    : 30px;
  color         : #fff;
  background    : #214790;
  border        : 2px solid #214790;
}

#hero .btn-get-started:hover {
  background  : transparent;
  border-color: #fff;
}

@media (max-width:768px) {
  #hero {
    text-align : center;
    padding-top: 58px;
  }

  #hero h1 {
    font-size: 28px;
  }

  #hero h2 {
    font-size  : 18px;
    line-height: 24px;
  }

}

@media (max-height:500px) {
  #hero {
    height: 120vh;
  }

}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding   : 70px 0;
  /*overflow: hidden;*/
  position  : relative;
}

.section-title {

  /*text-align: center;*/
  padding-bottom: 10px;
  position      : relative;
}

.player-number span {
  font-size   : 45px;
  font-weight : 600;
  margin-right: 20px;
  color       : #ff9800;
}

.section-title h2 {
  font-size     : 25px;
  font-weight   : 400;
  text-transform: uppercase;
  margin-bottom : 20px;
  padding-bottom: 8px;
  position      : relative;
}

.section-title h2::after {
  content   : "";
  position  : absolute;
  display   : block;
  width     : 50px;
  height    : 1px;
  background: #214790;
  bottom    : 0;
  /*left    : calc(50% - 25px);*/
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color  : #fff;
}

.section-bg:before {
  content   : "";
  background: #1b1b1b;
  position  : absolute;
  bottom    : 60px;
  top       : 60px;
  left      : 0;
  right     : 0;
  transform : skewY(-3deg);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding              : 15px 0;
  background           : #214790;
  min-height           : 400px;
  /* margin-top        : 82px; */
  color                : #fff;
  /* padding-top       : 150px; */
  padding-bottom       : 40px;
  display              : flex;
  align-items          : end;
  background-attachment: fixed;
}

.breadcrumbs h2 {
  font-size  : 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display   : flex;
  flex-wrap : wrap;
  list-style: none;
  padding   : 0 0 10px 0;
  margin    : 0;
  font-size : 14px;
}

.breadcrumbs ol a {
  color: #aaaaaa;
}

.breadcrumbs ol a:hover {
  color     : #fff;
  transition: 0.3s;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display      : inline-block;
  padding-right: 10px;
  color        : #214790;
  content      : "/";
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index : 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight  : 700;
  font-size    : 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding       : 8px 30px 9px 30px;
  color         : #fff;
  border-radius : 50px;
  transition    : 0.3s;
  text-transform: uppercase;
  font-weight   : 600;
  font-size     : 13px;
  display       : inline-flex;
  align-items   : center;
  border        : 2px solid #214790;
}

.about .content .about-btn i {
  font-size   : 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: #e35052;
  background: #214790;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size    : 40px;
  color        : #214790;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size  : 20px;
  font-weight: 700;
  margin     : 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color    : #848484;
}

@media (max-width:1200px) {
  .about .content {
    padding-right: 0;
  }

}

@media (max-width:768px) {
  .about {
    text-align: center;
  }

}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 80px;
}

.counts .count-box {
  padding      : 30px 30px 25px 30px;
  width        : 100%;
  position     : relative;
  text-align   : center;
  box-shadow   : 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.counts .count-box i {
  position       : absolute;
  width          : 54px;
  height         : 54px;
  top            : -27px;
  left           : 50%;
  transform      : translateX(-50%);
  font-size      : 24px;
  background     : #fff;
  color          : #214790;
  border-radius  : 50px;
  border         : 2px solid #fff;
  box-shadow     : 0px 2px 25px rgba(0, 0, 0, 0.1);
  display        : inline-flex;
  align-items    : center;
  justify-content: center;
}

.counts .count-box span {
  font-size  : 36px;
  display    : block;
  font-weight: 700;
  color      : #111111;
}

.counts .count-box p {
  padding    : 0;
  margin     : 0;
  font-family: "Raleway", sans-serif;
  font-size  : 14px;
}

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.tabs .nav-tabs {
  border: 0;
}

.tabs .nav-link {
  border         : 1px solid #b9b9b9;
  padding        : 15px;
  transition     : 0.3s;
  color          : #111111;
  border-radius  : 0;
  display        : flex;
  align-items    : center;
  justify-content: center;
  cursor         : pointer;
}

.tabs .nav-link i {
  padding-right: 15px;
  font-size    : 48px;
}

.tabs .nav-link h4 {
  font-size  : 18px;
  font-weight: 600;
  margin     : 0;
}

.tabs .nav-link:hover {
  color: #214790;
}

.tabs .nav-link.active {
  background  : #214790;
  color       : #fff;
  border-color: #214790;
}

@media (max-width:768px) {
  .tabs .nav-link i {
    padding    : 0;
    line-height: 1;
    font-size  : 36px;
  }

}

@media (max-width:575px) {
  .tabs .nav-link {
    padding: 15px;
  }

  .tabs .nav-link i {
    font-size: 24px;
  }

}

.tabs .tab-content {
  margin-top: 30px;
}

.tabs .tab-pane h3 {
  font-weight: 600;
  font-size  : 26px;
}

.tabs .tab-pane ul {
  list-style: none;
  padding   : 0;
}

.tabs .tab-pane ul li {
  padding-bottom: 10px;
}

.tabs .tab-pane ul i {
  font-size    : 20px;
  padding-right: 4px;
  color        : #214790;
}

.tabs .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color        : #444444;
  text-align   : center;
  box-shadow   : 0 0 30px rgba(214, 215, 216, 0.6);
  padding      : 30px 0 32px 0;
  border-radius: 4px;
}

.contact .info-box i {
  font-size    : 32px;
  color        : #214790;
  border-radius: 50%;
  padding      : 8px;
  border       : 2px dotted #f8d4d5;
}

.contact .info-box h3 {
  font-size  : 20px;
  color      : #777777;
  font-weight: 700;
  margin     : 10px 0;
}

.contact .info-box p {
  padding      : 0;
  line-height  : 24px;
  font-size    : 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow   : 0 0 30px rgba(214, 215, 216, 0.6);
  padding      : 30px;
  border-radius: 4px;
}

.contact .php-email-form .error-message {
  display    : none;
  color      : #fff;
  background : #ed3c0d;
  text-align : left;
  padding    : 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display    : none;
  color      : #fff;
  background : #18d26e;
  text-align : center;
  padding    : 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display   : none;
  background: #fff;
  text-align: center;
  padding   : 15px;
}

.contact .php-email-form .loading:before {
  content          : "";
  display          : inline-block;
  border-radius    : 50%;
  width            : 24px;
  height           : 24px;
  margin           : 0 10px -6px 0;
  border           : 3px solid #18d26e;
  border-top-color : #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation        : animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 25px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  box-shadow   : none;
  font-size    : 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #111111;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background   : #214790;
  border       : 0;
  padding      : 10px 32px;
  color        : #fff;
  transition   : 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #e35052;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}

.blog .entry {
  padding      : 30px;
  margin-bottom: 60px;
  box-shadow   : 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 440px;
  margin    : -30px -30px 20px -30px;
  overflow  : hidden;
}

.blog .entry .entry-title {
  font-size  : 28px;
  font-weight: bold;
  padding    : 0;
  margin     : 0 0 20px 0;
}

.blog .entry .entry-title a {
  color     : #111111;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #214790;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color        : #777777;
}

.blog .entry .entry-meta ul {
  display    : flex;
  flex-wrap  : wrap;
  list-style : none;
  align-items: center;
  padding    : 0;
  margin     : 0;
}

.blog .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size   : 16px;
  margin-right: 8px;
  line-height : 0;
}

.blog .entry .entry-meta a {
  color      : #777777;
  font-size  : 14px;
  display    : inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 24px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last     : right;
}

.blog .entry .entry-content .read-more a {
  display      : inline-block;
  background   : #214790;
  color        : #fff;
  padding      : 6px 20px;
  transition   : 0.3s;
  font-size    : 14px;
  border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #e35052;
}

.blog .entry .entry-content h3 {
  font-size  : 22px;
  margin-top : 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow        : hidden;
  background-color: #fafafa;
  padding         : 60px;
  position        : relative;
  text-align      : center;
  margin          : 20px 0;
}

.blog .entry .entry-content blockquote p {
  color        : #444444;
  line-height  : 1.6;
  margin-bottom: 0;
  font-style   : italic;
  font-weight  : 500;
  font-size    : 22px;
}

.blog .entry .entry-content blockquote::after {
  content         : "";
  position        : absolute;
  left            : 0;
  top             : 0;
  bottom          : 0;
  width           : 3px;
  background-color: #111111;
  margin-top      : 20px;
  margin-bottom   : 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top : 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color  : #5e5e5e;
  display: inline;
}

.blog .entry .entry-footer a {
  color     : #1e1e1e;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #214790;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display   : inline;
  padding   : 0 20px 0 0;
  font-size : 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display   : inline;
  padding   : 0;
  font-size : 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li+li::before {
  padding-right: 6px;
  color        : #6c757d;
  content      : ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding      : 20px;
  margin-bottom: 30px;
  box-shadow   : 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
  width       : 120px;
  margin-right: 20px;
}

.blog .blog-author h4 {
  font-weight  : 600;
  font-size    : 22px;
  margin-bottom: 0px;
  padding      : 0;
  color        : #111111;
}

.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
  color       : rgba(17, 17, 17, 0.5);
  margin-right: 5px;
}

.blog .blog-author p {
  font-style: italic;
  color     : #b7b7b7;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position  : relative;
}

.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
  width: 60px;
}

.blog .blog-comments .comment h5 {
  font-size    : 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color      : #444444;
  transition : 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #214790;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color       : #111111;
}

.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}

.blog .blog-comments .comment time {
  display      : block;
  font-size    : 14px;
  color        : #2b2b2b;
  margin-bottom: 5px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding   : 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size  : 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding      : 10px 10px;
  font-size    : 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow  : none;
  border-color: #ee9293;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding      : 10px 10px;
  font-size    : 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow  : none;
  border-color: #ee9293;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  border-radius   : 4px;
  padding         : 10px 20px;
  border          : 0;
  background-color: #111111;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #1e1e1e;
}

.blog .blog-pagination {
  color: #444444;
}

.blog .blog-pagination ul {
  display   : flex;
  padding   : 0;
  margin    : 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin    : 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color          : #111111;
  padding        : 7px 16px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: #214790;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .sidebar {
  padding   : 30px;
  margin    : 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size  : 20px;
  font-weight: 700;
  padding    : 0 0 0 0;
  margin     : 0 0 15px 0;
  color      : #111111;
  position   : relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border    : 1px solid #ddd;
  padding   : 3px 10px;
  position  : relative;
}

.blog .sidebar .search-form form input[type=text] {
  border       : 0;
  padding      : 4px;
  border-radius: 4px;
  width        : calc(100% - 40px);
}

.blog .sidebar .search-form form button {
  position     : absolute;
  top          : 0;
  right        : 0;
  bottom       : 0;
  border       : 0;
  background   : none;
  font-size    : 16px;
  padding      : 0 15px;
  margin       : -1px;
  background   : #214790;
  color        : #fff;
  transition   : 0.3s;
  border-radius: 0 4px 4px 0;
  line-height  : 0;
}

.blog .sidebar .search-form form button i {
  line-height: 0;
}

.blog .sidebar .search-form form button:hover {
  background: #e34c4d;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding   : 0;
}

.blog .sidebar .categories ul li+li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color     : #111111;
  transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
  color: #214790;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color       : #aaaaaa;
  font-size   : 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size  : 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color     : #111111;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #214790;
}

.blog .sidebar .recent-posts time {
  display    : block;
  margin-left: 95px;
  font-style : italic;
  font-size  : 14px;
  color      : #aaaaaa;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding   : 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color     : #515151;
  font-size : 14px;
  padding   : 6px 14px;
  margin    : 0 6px 8px 0;
  border    : 1px solid #c4c4c4;
  display   : inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color     : #fff;
  border    : 1px solid #214790;
  background: #214790;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color       : #aaaaaa;
  font-size   : 14px;
}
.logo-team {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color     : #fff;
  font-size : 14px;
  background: #232534;
}

#footer .footer-top {
  padding      : 60px 0 30px 0;
  background   : #232534;
  border-bottom: 1px solid #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size    : 26px;
  line-height  : 1;
  font-weight  : 700;
  margin-bottom: 20px;
}

#footer .footer-top .footer-contact h3 span {
  color: #214790;
}

#footer .footer-top .footer-contact p {
  font-size    : 14px;
  line-height  : 24px;
  margin-bottom: 0;
  color        : #fff;
}

#footer .footer-top h4 {
  font-size     : 16px;
  font-weight   : bold;
  position      : relative;
  padding-bottom: 20px;
  margin-bottom : 20px;
}

#footer .footer-top h4::after {
  content   : "";
  position  : absolute;
  display   : block;
  width     : 20px;
  height    : 2px;
  background: #214790;
  bottom    : 0;
  left      : 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding   : 0;
  margin    : 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color        : white;
  font-size    : 18px;
  line-height  : 1;
}

#footer .footer-top .footer-links ul li {
  padding    : 10px 0;
  display    : flex;
  align-items: center;
}

/*#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}*/
#footer .footer-top .footer-links ul a {
  color      : #fff;
  transition : 0.3s;
  display    : inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color          : #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size     : 16px;
  font-weight   : bold;
  position      : relative;
  padding-bottom: 20px;
  margin-bottom : 20px;
}

#footer .footer-newsletter form {
  margin-top   : 30px;
  background   : #fff;
  padding      : 5px 10px;
  position     : relative;
  border-radius: 4px;
  text-align   : left;
}

#footer .footer-newsletter form input[type=email] {
  border : 0;
  padding: 4px 8px;
  width  : calc(100% - 100px);
}

#footer .footer-newsletter form input:focus-visible {
  outline: 0px dashed darkorange;
}

#footer .footer-newsletter form input[type=submit] {
  position     : absolute;
  top          : 0;
  right        : -1px;
  bottom       : 0;
  border       : 0;
  background   : none;
  font-size    : 16px;
  padding      : 0 20px;
  background   : #214790;
  color        : #fff;
  transition   : 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow   : 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #e35052;
}

#footer .credits {
  padding-top: 5px;
  font-size  : 13px;
}

#footer .social-links a {
  font-size    : 18px;
  display      : inline-block;
  background   : #2b2b2b;
  color        : #fff;
  line-height  : 1;
  padding      : 8px 0;
  margin-right : 4px;
  border-radius: 4px;
  text-align   : center;
  width        : 36px;
  height       : 36px;
  transition   : 0.3s;
}

#footer .social-links a:hover {
  background     : #214790;
  color          : #fff;
  text-decoration: none;
}

.footer-newsletter p {
  color: #fff;
}

.banner-slider-section .item {
  height  : 100vh;
  position: relative;
}

.banner-slider-section .item img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.banner-slider-section .item .cover {
  padding    : 75px 0;
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  left       : 0;
  background : rgba(0, 0, 0, 0.6);
  display    : flex;
  align-items: center;
}

.banner-slider-section .item .cover .header-content {
  position: relative;
  padding : 56px;
  overflow: hidden;
}

.banner-slider-section .item .cover .header-content .line {
  content          : "";
  display          : inline-block;
  width            : 100%;
  height           : 100%;
  left             : 0;
  top              : 0;
  position         : absolute;
  border           : 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path        : polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

.banner-slider-section .item .cover .header-content h2 {
  font-weight  : 300;
  font-size    : 30px;
  color        : #fff;
  margin-bottom: 0;
}

.banner-slider-section .item .cover .header-content h1 {
  font-size   : 90px;
  font-weight : 700;
  margin      : 5px 0 20px;
  word-spacing: 3px;
  color       : #fff;
}

.banner-slider-section .item .cover .header-content h4 {
  font-size  : 18px;
  font-weight: 300;
  line-height: 28px;
  color      : #fff;
}

.banner-slider-section .owl-item.active h1 {
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-name             : fadeInDown;
  animation-delay            : 0.3s;
}

.banner-slider-section .owl-item.active h2 {
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-name             : fadeInDown;
  animation-delay            : 0.3s;
}

.banner-slider-section .owl-item.active h4 {
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-name             : fadeInUp;
  animation-delay            : 0.5s;
}

.banner-slider-section .owl-item.active .line {
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-name             : fadeInLeft;
  animation-delay            : 0.45s;
}

.banner-slider-section .owl-nav .owl-prev {
  position          : absolute;
  left              : 15px;
  top               : 43%;
  opacity           : 0;
  -webkit-transition: all 0.4s ease-out;
  transition        : all 0.4s ease-out;
  background        : rgba(0, 0, 0, 0.5) !important;
  width             : 40px;
  cursor            : pointer;
  height            : 40px;
  position          : absolute;
  display           : block;
  z-index           : 1000;
  border-radius     : 0;
}

.banner-slider-section .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color    : #fff;
}

.banner-slider-section .owl-nav .owl-prev:focus {
  outline: 0;
}

.banner-slider-section .owl-nav .owl-prev:hover {
  background: #000 !important;
}

.banner-slider-section .owl-nav .owl-next {
  position          : absolute;
  right             : 15px;
  top               : 43%;
  opacity           : 0;
  -webkit-transition: all 0.4s ease-out;
  transition        : all 0.4s ease-out;
  background        : rgba(0, 0, 0, 0.5) !important;
  width             : 40px;
  cursor            : pointer;
  height            : 40px;
  position          : absolute;
  display           : block;
  z-index           : 1000;
  border-radius     : 0;
}

.banner-slider-section .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color    : #fff;
}

.banner-slider-section .owl-nav .owl-next:focus {
  outline: 0;
}

.banner-slider-section .owl-nav .owl-next:hover {
  background: #000 !important;
}

.banner-slider-section:hover .owl-prev {
  left   : 0px;
  opacity: 1;
}

.banner-slider-section:hover .owl-next {
  right  : 0px;
  opacity: 1;
}

.about-main p {
  font-size  : 16px;
  line-height: 30px;
}

.about-main a {
  background    : #214790;
  border        : 1px solid #214790;
  padding       : 10px 30px;
  display       : inline-block;
  color         : #fff;
  margin-top    : 10px;
  text-transform: uppercase;
  font-weight   : 600;
}

.games-section {
  min-height       : 600px;
  background-size  : cover;
  background-repeat: no-repeat;
  display          : flex;
  align-items      : center;
  background-attachment: fixed;
}

.recent-match {
  text-align: center;
}

.recent-match-head h3 {
  color         : #fff;
  font-size     : 35px;
  text-transform: uppercase;
  font-weight   : 300;
  letter-spacing: 1px;
}

.logo-team img {
  max-height: 110px;
  width     : auto !important;
  margin    : 0 auto;
  max-width : 100%;
}

.recent-match .item {
  margin-top: 50px;
}

.logo-team h3 {
  color      : #000;
  font-size  : 22px;
  margin-top : 20px;
  font-weight:300;
}

.final-score {
  color: #fff;
}

.score {
  font-size  : 60px;
  font-weight: 600;
}

.info {
  font-size    : 16px;
  margin-bottom: 8px;
}

.info i {
  color       : #ffc107;
  margin-right: 5px;
}

.recent-slider .owl-nav button.owl-prev,
.recent-slider .owl-nav button.owl-next {
  color        : #ffc107;
  font-size    : 30px;
  border       : 1px solid #ffc107;
  border-radius: 50px;
  width        : 40px;
  height       : 40px;
  line-height  : 43px;
  margin-right : 10px;
}

.recent-slider .owl-nav {
  margin-top: 15px;
}

.section-title.text-center h2::after {
  content   : "";
  position  : absolute;
  display   : block;
  width     : 50px;
  height    : 1px;
  background: #214790;
  bottom    : 0;
  left      : calc(50% - 25px);
}

.player-info {
  box-shadow   : 0px 3px 20px 3px #eaeaea;
  margin-bottom: 30px;
}

.player-desc {
  display    : flex;
  padding    : 20px 25px;
  align-items: center;
}

.player-number span {
  font-size   : 35px;
  font-weight : 600;
  margin-right: 20px;
  color       : #ff9800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.player-name h3 {
  font-size    : 14px;
  font-weight  : 500;
  margin-bottom: 5px;
}

.player-name p {
  font-size    : 16px;
  margin-bottom: 0;
  font-weight  : 300;
  font-style: italic;
}
.player-image{
  overflow: hidden;
}
.player-info:hover .player-image img{
  transform: scale(1.08);
}
.player-info:hover .player-number span{
  -webkit-text-fill-color: #ff9800;
}

.player-image img{
  transition: all .3s ease-in-out;
}

.last-match-section {
  position: relative;
}
.last-match-section::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url('/frontend/assets/img/23766.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.last-match {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  text-align     : center;
  background     : #fff;
  padding        : 20px;
  transition: all .3s ease-in;
  background-color: #fff;
  position: relative;
}


.club-logo img {
  height: 80px;
}

.cont {
  width: 98%;
}

.club-logo h4 {
  font-size : 15px;
  margin-top: 10px;
}

.club-result h3 {
  font-size    : 29px;
  margin-bottom: 8px;
  margin-top   : 8px;
  color        : #214790;
}

.club-result p {
  font-size    : 14px;
  font-weight  : 500;
  margin-bottom: 0;
}

.last-match-head h4 {
  color         : #214790;
  margin-bottom : 0;
  text-transform: uppercase;
  font-size     : 20px;
  letter-spacing: 1px;
}

.last-match-head h2 {
  font-size     : 25px;
  font-weight   : 700;
  text-transform: uppercase;
  margin-top    : 10px;
}



.news-list {
  margin-bottom: 30px;
  overflow: hidden;
}
.news-list:hover.news-list img{
  transform: scale(1.03);
}
.news-list img{
  transition: all .3s ease-in-out;
}

.news-list h2 {
  color        : #214790;
  font-size    : 20px;
  font-weight  : 400;
  margin-top   : 0;
  margin-bottom: 8px;
}

.news-list p {
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow          : hidden;
  margin-bottom     : 0;
}

.news-list h6 {
  margin-bottom: 7px;
  font-size    : 13px;
  margin-top   : 15px;
  font-weight  : 500;
  display      : flex;
  align-items  : center;
}

.news-list h6 i {
  color       : #214790;
  margin-right: 5px;
  font-size   : 16px;
}

.league-table table {
  box-shadow: 0 0 25px #eee;
}

.league-table .table thead {
  color        : #fff;
  background   : #214790;
  border-bottom: 2px solid #214790 !important;
}

.league-table .table thead th {
  padding: 10px 20px;
}

.league-table table tbody tr td {
  padding    : 10px 20px;
  font-size  : 16px;
  font-weight: 300;
}

.view-all {
  text-align: center;
}

.view-all a {
  background   : #214790;
  color        : #fff;
  padding      : 10px 19px;
  font-weight  : 500;
  font-size    : 13px;
  display      : inline-block;
  margin-top   : 20px;
}

.video-section {
  background-repeat  : no-repeat;
  background-position: 100% 100%;
  background-size    : cover;
  min-height         : 500px;
  position           : relative;
}

.video-section::before {
  position  : absolute;
  content   : '';
  width     : 100%;
  height    : 100%;
  top       : 0;
  bottom    : 0;
  background: #081224c9;
}

.video-content {
  position    : relative;
  z-index     : 1;
  /*margin-top: -35%;*/
}

.video-thumbnail {
  position  : relative;
  /*bottom  : -30px;*/
  box-shadow: 0 27px 24px -35px rgba(0, 0, 0, 0.5);
  border    : 8px solid #fbfbfb;
  overflow  : hidden;
}

.pulses {
  font-size : 16px;
  transition: all ease-in-out 0.5s;
  position  : absolute;
  right     : 0;
  left      : 0%;
  margin    : 0 auto;
  top       : 46%;
  animation : pulse 1.5s cubic-bezier(0.66, 0.66, 0.88, 1.86) infinite;
}

.pulses button.play-btn i {
  font-size    : 28px;
  /*border     : 3px solid #d60d45;*/
  height       : 80px;
  width        : 80px;
  line-height  : 2.8;
  text-align   : center;
  color        : #fff;
  border-radius: 50%;
  background   : #0097bd;
  transition   : all ease-in-out 0.5s;
  padding-left : 5px;
}

.play-btn {
  background-color: transparent;
  border          : transparent;
}

.match-highlight h3 {
  font-size    : 45px;
  color        : #fff;
  margin-top   : 20px;
  margin-bottom: 20px;
  font-weight  : 700;
}

.swiper {
  width : 100%;
  height: 100%;
}

.swiper-slide {
  text-align             : center;
  font-size              : 18px;
  background             : #fff;
  /* Center slide text vertically */
  display                : -webkit-box;
  display                : -ms-flexbox;
  display                : -webkit-flex;
  display                : flex;
  -webkit-box-pack       : center;
  -ms-flex-pack          : center;
  -webkit-justify-content: center;
  justify-content        : center;
  -webkit-box-align      : center;
  -ms-flex-align         : center;
  -webkit-align-items    : center;
  align-items            : center;
}

.swiper-slide img {
  display   : block;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.swiper {
  width       : 100%;
  height      : 300px;
  margin-left : auto;
  margin-right: auto;
}

.swiper-slide {
  background-size    : cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width : 100%;
}

.mySwiper {
  height    : 20%;
  box-sizing: border-box;
  padding   : 10px 0;
}

.mySwiper .swiper-slide {
  width  : 25%;
  height : 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display   : block;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.thumbnail img {
  height: 200px !important;
}

.video-section .swiper-slide img {
  display   : block;
  width     : 100%;
  height    : 600px;
  object-fit: cover;
}

.video-section .swiper-slide {
  background: transparent;
}

.match-head {
  position: relative;
}

.match-head h1 {
  text-align   : center;
  color        : #fff;
  margin-bottom: 25px;
  margin-top   : 25px;
  font-weight  : 600;
}
.product-section{
  background-image: url('/frontend/assets/img/sub-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.product-section::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgb(0 0 0 / 65%);
}

.product-info {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 3px;
  background-color: #fff;
  position: relative;
}
.product-info:hover .product-image img{
  transform: scale(1.08);
}

.product-desc {
  margin-top: 20px;
}

.product-desc h6 {
  color    : #214790;
  font-size: 18px;
}

.product-desc h2 {
  font-size     : 16px;
  text-transform: capitalize;
  margin-bottom : 7px;
}

.product-desc p {
  color      : #6c6c6c;
  font-weight: 400;
  font-size  : 16px;
  font-style: italic;
}
.product-image{
  overflow: hidden;
  padding: 32px;
}
.product-image img{
  transition: all 0.3s ease-in-out;
}
.no-gutters {
  margin-right: 0;
  margin-left : 0;
}

.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left : 0;
}

.gallery-image img {
  width: 100%;
}

.footer-links ul li {
  float: left;
  width: 50%;
}
.about-image img{
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.about-info-section {
  background: #f3f3f3;
}

.info-about {
  text-align: center;
}

.info-about h3 {
  font-size    : 24px;
  margin-top   : 20px;
  margin-bottom: 20px;
}

.about-video .video-thumbnail {
  position  : relative;
  box-shadow: none;
  border    : 0px solid #fbfbfb;
  overflow  : hidden;
}

.about-video .pulses {
  left: 50%;
}

.blog-main {
  margin-bottom: 30px;
}

.blog-content {
  padding   : 25px 40px 30px;
  background: #fbfbfb;
  position  : relative;
  z-index   : 1;
  width     : 90%;
  margin    : auto;
  margin-top: -15%;
  box-shadow: 0px 0px 20px 5px rgb(191 191 191 / 37%);
}

.blog-content h3 {
  font-size: 24px;
}

.blog-content ul {
  padding        : 0;
  margin         : 0;
  display        : inline-flex;
  list-style-type: none;
}

.blog-content ul li {
  margin-right : 20px;
  border-right : 1px solid #c6c6c6;
  padding-right: 20px;
}

.blog-content ul li span {
  font-weight: 400;
  font-size  : 15px;
}

.blog-content ul li:last-child {
  border-right: 0px solid #c6c6c6;
}

.media {
  display    : flex;
  align-items: baseline;
}

.get-in-touch {
  background: #214790;
  padding   : 50px;
  color     : #fff;
}

.get-in-touch h3 {
  font-size    : 40px;
  margin-bottom: 30px;
}

.get-in-touch h5 {
  margin-bottom: 40px;
  font-size    : 18px;
  font-weight  : 400;
  line-height  : 29px;
}

.contact-info {
  margin-bottom: 40px;
}

.contact-info:last-child {
  margin-bottom: 0px;
}

.contact-info i {
  font-size   : 24px;
  margin-right: 10px;
}

.contact-info h6 {
  font-size    : 24px;
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 0;
  color        : #fff;
}

.contact-form {
  box-shadow: 0px 4px 14px rgb(180 178 178 / 25%);
  padding   : 50px 75px;
}

.contact-form h3 {
  font-size  : 40px;
  font-weight: 600;
}

.contact-form label {
  font-weight: 500;
}

.contact-form input {
  height       : 50px;
  background   : #f3f3f3;
  border       : 0px;
  margin-bottom: 30px;
  border-radius: 0;
}

.contact-form textarea {
  background   : #f3f3f3;
  border       : 0px;
  border-radius: 0;
  margin-bottom: 30px;
}

.contact-form button {
  background   : #214790;
  border-color : #214790;
  border-radius: 0;
  padding      : 10px 60px;
}

.contact-form .form-control:focus {
  color           : #212529;
  background-color: #f3f3f3;
  border-color    : #86b7fe;
  outline         : 0;
  box-shadow      : 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.map-section iframe {
  width: 100%;
}

.blog-detail-head {
  margin-bottom: 40px;
}

.blog-detail-head ul {
  padding        : 0;
  margin         : 0;
  display        : inline-flex;
  list-style-type: none;
  margin-bottom  : 10px;
}

.blog-detail-head ul li {
  margin-right : 20px;
  border-right : 1px solid #c6c6c6;
  padding-right: 20px;
}

.blog-detail-head ul li span {
  font-weight: 400;
  font-size  : 15px;
}

.blog-detail-head ul li:last-child {
  border-right: 0px solid #c6c6c6;
}

.blog-detail-head h3 {
  color    : #214790;
  font-size: 50px;
}

.blog-detail-image {
  margin-bottom: 40px;
}

.blog-detail-image img {
  height    : 550px;
  width     : 100%;
  object-fit: cover;
}

.pagination li a {
  padding    : 10px 20px;
  font-weight: 500;
  font-size  : 16px;
}

.product-detail-info h3 {
  font-size    : 45px;
  font-weight  : 700;
  color        : #000;
  margin-bottom: 10px;
}

/*#surround {
  width: 50%;
  min-width: 256px;
  max-width: 480px;
}*/
img.cloudzoom {
  width   : 100%;
  /*height: 425px;*/
}

#slider1 {
  margin-top   : 10px;
  margin-left  : 0;
  margin-right : 0;
  height       : 119px;
  border-top   : 0px solid #aaa;
  border-bottom: 0px solid #aaa;
  position     : relative;
}

.thumbelina li img {
  border: 1px solid #ccc;
  height: 60px;
}

.thumbelina li {
  padding     : 0;
  line-height : 0px;
  margin      : 0px;
  margin-right: 5px;
}

.thumbelina-but.horiz {
  width      : 20px;
  height     : 119px;
  line-height: 119px;
  top        : -1px;
  display    : none;
}

.product-detail-info {
  margin-left: 50px;
}

.product-detail-info h5 {
  margin-bottom: 20px;
  font-size    : 28px;
  font-weight  : 600;
  color        : #214790;
}

.product-detail-info ul {
  padding   : 0;
  margin    : 0;
  list-style: none;
}

.product-detail-info ul li {
  line-height: 35px;
}

.product-detail-info ul li span {
  color: #848484;
}

.product-detail-info strong {
  color       : #214790;
  margin-right: 5px;
}

.product-detail-info ul li a {
  border       : 1px solid #f4f4f4;
  color        : #000;
  background   : #f4f4f4;
  padding      : 1px 15px;
  display      : inline-block;
  border-radius: 50px;
  margin-right : 5px;
  font-size    : 14px;
}

#buy-now-modal .modal-header {
  border-bottom: 0 !important;
}

.product-detail-info button {
  margin-top: 30px;
  background: #214790;
  border    : 1px solid #214790;
}

#buy-now-modal .modal-content {
  padding: 25px;
}

#buy-now-modal .modal-header h5 {
  font-size  : 35px;
  font-weight: 500;
  color      : #214790;
}

#buy-now-modal .modal-body {
  padding-top: 0;
}

#buy-now-modal .modal-body h6 {
  margin-bottom: 20px;
  margin-top   : 20px;
}

#buy-now-modal input {
  height       : 50px;
  background   : #f3f3f3;
  border       : 0px;
  margin-bottom: 30px;
  border-radius: 0;
}

#buy-now-modal textarea {
  background   : #f3f3f3;
  border       : 0px;
  margin-bottom: 30px;
  border-radius: 0;
}

.buy-now-form label {
  font-weight: 500;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%) !important;
}

.btn-primary:focus {
  outline   : 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.btn-close:focus {
  outline   : 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
  opacity   : 1;
}

.form-control:focus {
  color           : #212529;
  background-color: #fff;
  border-color    : #86b7fe;
  outline         : 0;
  box-shadow      : 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.news-sub img {
  height: 114px;
  object-fit: cover;
  width: 126px;
  margin-right: 15px;
}
.news-sub.media{
  align-items: center;
}
.news-side{
  position: sticky;
  top: 0;
}
.fixtures{
  box-shadow: 0 2px 6px #dedede;
  margin-bottom: 30px;
  border-top: 2px solid #214790;
}
.match .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #214790;
}
.match .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  font-size: 22px;
  font-weight: 300;
  margin-right: 25px;
}
.match .nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0;
}
.match .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ff9800;
}
